<div class="jumbotron">
  <h1>Rigley</h1>
  <p class="lead">
    <img src="images/rigley-logo.png" alt="I'm Yeoman"><br>
    Your Cloud Based Research Apparatus Platform 
  </p>
  <!--<p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>-->
</div>

<div class="row marketing">
<h4>This Instance of Rigley was Built for Matt Lupoli.</h4>
<p>Doctoral Canidate at the Rady School of Management, Univeristy of California San Diego</p>
</div>
