	 <!-- <pre>{{dbStatus}}</pre> -->

	  <!-- Collected Data Tool Bar (New in Rigley 2) -->
	  <div class="col-md-12">

	   <!-- Download CSV Button -->
	   <p><a class="btn btn-warning" ng-click="getBlob()">Download CSV <span class="glyphicon glyphicon-download"></span></a></p>
    </div>

	  <!-- The Table of Collected Data -->
      <div class="col-md-12">
        <table class ="table table-bordered">
        <thead>
            <tr>
                <th>
                  <a href='' ng-click="sortType = 'RigID';sortReverse = !sortReverse" >
                    RigName
                  </a>
                </th>
                <th>
                  <a href='' ng-click="sortType = 'PID';sortReverse = !sortReverse" >
                    PID
                  </a>
                </th>

                 <th>
                  <a href='' ng-click="sortType = 'Data.timeOut';sortReverse = !sortReverse" >
                    Date
                  </a>
                </th>

                <th>
                  <a href='' ng-click="sortType = 'Data.timeIn';sortReverse = !sortReverse" >
                    Insertion Time
                  </a>
                </th>
                <th>
                  <a href='' ng-click="sortType = 'Data.timeOut';sortReverse = !sortReverse" >
                    Removal Time
                  </a>
                </th>
                <th>
                  <a href='' ng-click="sortType = 'Data.durration'; sortReverse = !sortReverse">
                    Duration
                  </a>
                </th>
            </tr>
          </thead>
          <tbody>
            <tr class="data" ng-repeat="x in rigdatas | orderBy:sortType:sortReverse">
              <td>{{ x.RigID }}</td>
              <td>{{ x.PID }}</td>
              <td class="{{sortType}}">{{ x.Data.timeOut | date:'MM/dd/yyyy' }}</td>
              <td>{{ x.Data.timeIn | date:'HH:mm:ss.sss' }}</td>
              <td>{{ x.Data.timeOut | date:'HH:mm:ss.sss' }}</td>
              <td>{{ x.Data.durration/1000 | number : 3 }}</td>                 
            </tr>
          </tbody>
        </table>
          <div class="alert alert-info">
            <p>Sort Type: {{ sortType }}</p>
            <p>Sort Reverse: {{ sortReverse }}</p>
            <p>Search Query: {{ searchData }}</p>
          </div>
        </div>

        <!--<pre>{{rigdatas | json}}</pre>-->
        